.creat-post {
  min-height: 300px;
  width: 70%;
  /* border: 1px solid black; */

  background: var(--card-background-color);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.creat-post-input {
  width: 100%;
  min-height: 45%;

  background: var(--card-background-color);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.creat-post-btn {
  width: 30%;
  height: 80%;
  background: white;
  border: none;
  background-color: #f3e6e8;
  background-image: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%);
}
@media only screen and (max-width: 600px) {
  .creat-post {
    width: 100%;
  }
}
