.creat-post {
  min-height: 300px;
  width: 74%;
  /* border: 1px solid black; */

  background: var(--card-background-color);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.post-title {
  width: 70%;
  min-height: 15%;

  background: var(--card-background-color);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.post-content {
  width: 100%;
  min-height: 35%;

  background: var(--card-background-color);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.creat-post-btn {
  width: 25%;
  height: 80%;
  background: white;
  border: none;
  background-color: #f3e6e8;
  background-image: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%);
}

/* .fileContainer {
  position: relative;
} */

.fileContainer [type="file"] {
  cursor: inherit;
  display: block;
  font-size: 1rem;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.fileContainer {
  /* border: none;
  border-radius: 10px;
  background-color: #f3e6e8;
  background-image: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%); */

  background: var(--card-background-color);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.5em 0.5em;
  font-size: 1rem;
}
.fileContainer:hover {
  /* color: white; */

  background: rgba(225, 223, 215, 0.3);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.fileContainer [type="file"] {
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .creat-post {
    width: 100%;
  }
}
