.feed-card {
  min-height: 250px;
  width: 75%;
  /* border: 1px solid black; */

  background: rgba(225, 223, 215, 0.15);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  /* border-radius: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#feed-card-avtar {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
