.feed-card {
  /* min-height: 100%; */
  width: 50%;
  /* border: 1px solid black; */

  background: var(--card-background-color);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  /* border-radius: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#feed-card-avtar {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.feed-card-user {
  min-height: 75px;
}

.feed-card-middle {
  min-height: 225px;
}
.feed-card-bottom {
  min-height: 50px;
}
.feed-card-content-div {
  word-wrap: break-word;
  white-space: pre-line;
  /* overflow: auto; */
  /* min-height: 80%; */
}
.feed-card-content {
  /* min-height: 80%;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden; */
  word-wrap: break-word;
}
