.post-card {
  width: 80%;
}
.post-card-user {
  min-height: 75px;
}
.post-card-middle {
  min-height: 225px;
}
.post-card-bottom {
  min-height: 125px;
}
.post-card-reaction-bar {
  min-height: 50px;
}
.post-card-comment-bar {
  min-height: 75px;
}
.reaction-count-bar {
  min-height: 25px;
}
.comment-box {
  min-height: 50px;
}

.post-card-content-div {
  word-wrap: break-word;
  white-space: pre-line;
}
.post-card-content {
  word-wrap: break-word;
}

.like-dislike-button:hover {
  font-size: 1.25rem;
}
.post-comments-box {
  height: 400px;
  width: 650px;
  top: 25%;
  left: 29%;
}

.comments {
  height: 330px;
}

@media only screen and (max-width: 500px) {
  .post-comments-box {
    height: 325px;
    width: 325px;
    top: 25%;
    left: 5%;
    background-color: #f3e6e8;
    background-image: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%);
  }
}
