@import "./style/Header.css";
@import "./style/FeedCard.css";
@import "./style/FeedPosts.css";
@import "./style/BottomNav.css";
@import "./style/CreatPost.css";
@import "./style/FeedProfileCard.css";
@import "./style/Profile.css";
@import "./style/SignUp.css";
@import "./style/LogIn.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;

  background: linear-gradient(
    to right,
    #89216b,
    #da4453
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
:root {
  --primary-color: #fff;
  --secondary-color: #7d2c6f;
  --third-color: unset;
  --card-background-color: rgba(225, 223, 215, 0.15);
}

button,
input {
  outline: none;
}

.active-link {
  color: red;
}
